footer#footer.footer
	.inner
		include menuBottom
		.footer_wrap
			a(href="/").logo.logo__footer
				img(src="images/logo-footer.png", alt="")
			.phone.phone__footer
				p +375(29) 
					span 574 93 20
				p +375(29) 
					span 574 93 20
				a(href="#").phone_button.phone_button__footer заказать звонок
			.address.address__footer
				p.address_time.address_time__footer Режим работы:
					span c 09.00 до 18.00
				p.address_address.address_address__footer Адрес: г. Минск
					span ул. Байкальская, 58/1
	include social