header#header.header
	.inner
		a(href="/").logo
			img(src="images/logo.png", alt="")
		.phone
			p +375 (29) 
				span 574 93 20
			p +375 (29) 
				span 574 93 20
			a(href="#").phone_button заказать звонок
		.address
			p.address_time Режим работы:
				span c 09.00 до 18.00
			p.address_address Адрес: г. Минск
				span ул. Байкальская, 58/1