header#header.header
	.inner
		a(href="/").logo
			img(src="images/logo.png", alt="")
		.phone
			p +375 (29) 
				span 574 93 20
			p +375 (29) 
				span 574 93 20
			a(href="#").phone_button заказать звонок
		.address
			p.address_time Режим работы:
				span c 09.00 до 18.00
			p.address_address Адрес: г. Минск
				span ул. Байкальская, 58/1
	.headerFixed
		.inner
			a(href="/").headerFixed_logo
				img(src="images/headerFixed-logo.png", alt="")
			p.headerFixed_phone1 +375 (29) 
				span 574 93 20
			p.headerFixed_phone2 +375 (29) 
				span 574 93 20
			p.headerFixed_button
				a(href="#").headerFixed_link заказать звонок