include mixins
doctype html
html
	head
		<meta charset="UTF-8">
		//-<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		|<!--[if lt IE 9]>
		<script type='text/javascript' src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		|<![endif]-->
		block title
		block css
			|<!-- -->
			|<!-- build:css css/all.css -->
			<link rel="stylesheet" href="/css/all.css">
			|<!-- endbuild -->
			|<!--build:css css/all-old-ie.css-->
			|<!--[if lte IE 8]>
			link(rel="stylesheet", href="css/all-old-ie.css")
			<![endif]-->
			|<!--endbuild-->
	body
		//- Header
		include header
		//- Main menu
		include menu
		block content
		include footer
		.hide
			#form1.form-popup
				.form-popup_wrap.form-popup_wrap__callback
					.form-popup_title Оставьте заявку
					p.form-popup_descr Оставьте контактные данные и с Вами обязательно свяжется мастер для консультации
					//-<?php $output = module_invoke('webform', 'block_view', 'client-block-20'); ?>
					//-<?php print render($output['content']); ?>
					.form-popup_inner
						<input id="edit-submitted-name--6" class="webform-hints-field form-text" type="text" maxlength="128" size="60" value="" name="submitted[name]" placeholder="Введите имя" title="Введите имя">
					.form-popup_inner
						<input id="edit-submitted-phone--6" class="webform-hints-field form-text required" type="text" maxlength="128" size="60" value="" name="submitted[phone]" placeholder="Введите телефон" title="Ваш телефон" required="required">
					//- .form-popup_inner
					//- 	.form-textarea-wrapper
					//- 		<textarea title="Вопрос" placeholder="Вопрос" class="webform-hints-field form-textarea" id="edit-submitted-question" name="submitted[question]" cols="60" rows="5"></textarea>
					.form-popup_button
						<input id="edit-webform-ajax-submit-20" class="webform-submit button-primary form-submit ajax-processed" type="submit" value="Отправить" name="op">
					p.form-popup_note *Ваши данные будут в безопасности и не будут переданы третьим лицам
		a(href="#header").up
		|<!-- -->
		|<!--[if lte IE 8]>
		<script src="js/respond.min.js"></script>
		|<![endif]-->
		|<!-- build:js js/vendor.js -->
		|<!-- bower:js -->
		//- <script src="bower_components/jquery/dist/jquery.js"></script>
		//- <script src="bower_components/jquery-colorbox/jquery.colorbox.js"></script>
		<script src="bower_components/waypoints/lib/noframework.waypoints.js"></script>
		<script src="bower_components/lightslider/dist/js/lightslider.min.js"></script>
		<script src="bower_components/jquery.scrollTo/jquery.scrollTo.js"></script>
		//-<script src="bower_components/ev-emitter/ev-emitter.js"></script>
		//-<script src="bower_components/imagesloaded/imagesloaded.js"></script>
		|<!-- endbower -->
		|<!-- endbuild -->
		<script src="http://maps.googleapis.com/maps/api/js?v=3.exp"></script>
		|<!-- build:js js/main.js -->
		<script src="js/main.js"></script>
		|<!-- endbuild -->