nav.menuBottom
	ul.menuBottom_list
		li.menuBottom_item
			a.menuBottom_link(href="/about") О компании
		li.menuBottom_item
			a.menuBottom_link(href="/services") Услуги
		li.menuBottom_item
			a.menuBottom_link(href="/price") Цены
		li.menuBottom_item
			a.menuBottom_link(href="/gallery") Фотогалерея
		li.menuBottom_item
			a.menuBottom_link(href="/news") Новости
		li.menuBottom_item
			a.menuBottom_link(href="/articles") Статьи
		li.menuBottom_item
			a.menuBottom_link(href="/contacts") Контакты
		li.menuBottom_item
			a.menuBottom_link(href="/special") Акции