nav.menuRight#menuRight
	ul.menuRight_list
		li.menuRight_item
			a.menuRight_link(href="#") Установка сантехники
			ul.menuRight_list__l2
				li.menuRight_item__l2
					a.menuRight_link__l2(href="#") Установка унитаза
				li.menuRight_item__l2
					a.menuRight_link__l2(href="#") Установка счётчика
				li.menuRight_item__l2
					a.menuRight_link__l2(href="#") Установка радиаторов
				li.menuRight_item__l2
					a.menuRight_link__l2(href="#") Установка смесителей
				li.menuRight_item__l2
					a.menuRight_link__l2(href="#") Установка мойки
		li.menuRight_item
			a.menuRight_link(href="#") Установка счетчиков воды
		li.menuRight_item
			a.menuRight_link(href="#") Проектирование и монтаж инженерных сетей
		li.menuRight_item
			a.menuRight_link(href="#") Подключение бытовой техники
		li.menuRight_item
			a.menuRight_link(href="#") Установка водоснабжения
		li.menuRight_item
			a.menuRight_link(href="#") Монтаж труб
		li.menuRight_item
			a.menuRight_link(href="#") Монтаж отопления