.inner
	.slider
		ul.slider_list
			li.slider_item
				img(src="images/slider-item1.jpg", alt="")
			li.slider_item
				img(src="images/slider-item2.jpg", alt="")
			li.slider_item
				img(src="images/slider-item1.jpg", alt="")
		include icons