section.social
	h1 Мы в соцсетях:
	ul.social_list
		li.social_item
			a.social_link.social_link__vk(href="#") Вконтакте
		li.social_item
			a.social_link.social_link__fb(href="#") Facebook
		li.social_item
			a.social_link.social_link__tt(href="#") Twitter
		li.social_item
			a.social_link.social_link__ok(href="#") Одноклассники
		li.social_item
			a.social_link.social_link__gg(href="#") Google +