extends include/html
block title
	title О компании
block content
	main#main.main
		.inner
			.mybreadcrumb
				a.mybreadcrumb_link(href="/") Главная
				span.mybreadcrumb_item О компании
			article.articles-detail
				header
					h1.articles-detail_h1 О компании
				p Наш комфорт в квартирах, домах, офисах обеспечивают системы водо-, теплоснабжения, и канализации. Если помещение только вводится в эксплуатацию, их необходимо смонтировать в первую очередь. Также возникает потребность в таких сантехнических работах в Минске, когда оборудование вышло из строя либо уже устарело.
				p Замена, и монтаж с нуля систем отопления, водообеспечения и отведения канализационных стоков – очень ответственная и сложная задача, требующая соответствующих знаний, опыта работы и специальной техники. <b>Поэтому выполнение сантехнических работ можно доверить только специалистам компании Kamfree.by.</b>
				p Сотрудники нашей компании выполняют сантехнические работы уже более 10 лет, и это – наша главная специализация. Есть в нашем распоряжении и необходимое современное оборудование, инструменты. Нам доступны сантехработы любой сложности, ремонт мы осуществим на наивысшем уровне.
				h2 Какие сантехнические работы в Минске мы выполняем?
				p Наша команда выполняет весь спектр сантехнических работ. В частности, мы предоставляем такие сантехнические услуги, как:
				ul
					li оперативно по вашему заказу выедем на объект, произведем его бесплатный осмотр и предоставим все необходимые консультации;
					li разработаем с учетом всех индивидуальных особенностей объекта проектное решение;
					li предоставим качественные, надежные и современные материалы по закупочным ценам;
					li заказ реализуют безупречно и в четко определенные сроки

			section.sert
				h1.sert_h1 Сертификаты:
				.sert_wrap
					a.colorbox-inline.sert_item(href="#")
						img(src="images/sert/sert-1.jpg", alt="")
					a.colorbox-inline.sert_item(href="#")
						img(src="images/sert/sert-1.jpg", alt="")
					a.colorbox-inline.sert_item(href="#")
						img(src="images/sert/sert-1.jpg", alt="")
					a.colorbox-inline.sert_item(href="#")
						img(src="images/sert/sert-1.jpg", alt="")
	section.feedback
		.inner
			h1
				span Оставить заявку
			form(action="#")
				.feedback_inner
					textarea(name="", cols="30", rows="10", placeholder="Какая наша помощь Вам необходима?")
					input(type="text", placeholder="Введите имя")
					input(type="text", placeholder="Введите телефон")
				.feedback_file
					input.inputfile#file(type="file", name="file")
					<label for="file"><span>Прикрепить файл</span></label>
				.feedback_submit
					.feedback_captcha
						img(src="images/feedback-captcha.jpg", alt="")
					input(type="submit", value="Отправить")