extends include/html
block title
	title KamFree - Главная страница
block content
	section.why
		.inner
			h1 
				span Почему мы?
			ul.why_list
				li.why_item Компетентные специалисты 10 лет опыта
				li.why_item Бесплатный осмотр и консультация
				li.why_item Реальные цены
				li.why_item Гарантия качества 3 года
				li.why_item Комплектация материалами по оптовым ценам
				li.why_item Не срываем сроки выполнения
	section.reviews
		.inner
			h1 Отзывы
			ul.reviews_list
				li.reviews_item
					article.review
						header
							img(src="images/reviews/review1.jpg", alt="")
							h2.review_h
								Иван Иванов
						p.review_body Эта компания лучшая на земле. Эта компания лучшая на земле. Эта компания лучшая на земле.
						footer
							a.review_link(href="#") Смотреть все работы
							ul.social-mini
								li.social-mini_item
									a.social-mini_link(href="#") Вконтакте
								li.social-mini_item
									a.social-mini_link(href="#") Facebook
								li.social-mini_item
									a.social-mini_link(href="#") Twitter
								li.social-mini_item
									a.social-mini_link(href="#") Одноклассники
				li.reviews_item
					article.review
						header
							img(src="images/reviews/review2.jpg", alt="")
							h2.review_h
								Иван Иванов
						p.review_body Эта компания лучшая на земле. Эта компания лучшая на земле. Эта компания лучшая на земле.
						footer
							a.review_link(href="#") Смотреть все работы
							ul.social-mini
								li.social-mini_item
									a.social-mini_link(href="#") Вконтакте
								li.social-mini_item
									a.social-mini_link(href="#") Facebook
								li.social-mini_item
									a.social-mini_link(href="#") Twitter
								li.social-mini_item
									a.social-mini_link(href="#") Одноклассники
				li.reviews_item
					article.review
						header
							img(src="images/reviews/review3.jpg", alt="")
							h2.review_h
								Иван Иванов
						p.review_body Эта компания лучшая на земле. Эта компания лучшая на земле. Эта компания лучшая на земле.
						footer
							a.review_link(href="#") Смотреть все работы
							ul.social-mini
								li.social-mini_item
									a.social-mini_link(href="#") Вконтакте
								li.social-mini_item
									a.social-mini_link(href="#") Facebook
								li.social-mini_item
									a.social-mini_link(href="#") Twitter
								li.social-mini_item
									a.social-mini_link(href="#") Одноклассники
	section.feedback
		.inner
			h1 Оставить заявку
			form(action="#")
				.feedback_input
					input(type="text")
				.feedback_input
					input(type="text")
				.feedback_textarea
					textarea(name="", cols="30", rows="10")
				.feedback_file
					input(type="file")
				.feedback_submit
					.feedback_captcha я не робот
					input(type="submit")
	section.article
		.inner
			header
				h1 Сантехнические работы в минске
				img(src="images/article/article-main.jpg", alt="", style={float: 'right'})
				p Наш комфорт в квартирах, домах, офисах обеспечивают системы водо-, теплоснабжения, и канализации. Если помещение только вводится в эксплуатацию, их необходимо смонтировать в первую очередь. Также возникает потребность в таких сантехнических работах в Минске, когда оборудование вышло из строя либо уже устарело.
				p Замена, и монтаж с нуля систем отопления, водообеспечения и отведения канализационных стоков – очень ответственная и сложная задача, требующая соответствующих знаний, опыта работы и специальной техники. Поэтому выполнение сантехнических работ можно доверить только специалистам компании Kamfree.by.
				p Сотрудники нашей компании выполняют сантехнические работы уже более 10 лет, и это – наша главная специализация. Есть в нашем распоряжении и необходимое современное оборудование, инструменты. Нам доступны сантехработы любой сложности, ремонт мы осуществим на наивысшем уровне.
			h2 Какие сантехнические работы в Минске мы выполняем?
			p Наша команда выполняет весь спектр сантехнических работ. В частности, мы предоставляем такие сантехнические услуги, как:
			ul
				li монтаж и замена труб (водопроводных, канализационных, отопительных);
				li установка (замена) всех видов сантехнического оборудования;
				li монтаж, замена либо перенос отопительных радиаторов и так далее.
			p Специалисты <a href="/">Kamfree.by</a> оперативно выедут на объект по вашему вызову, произведут его бесплатный осмотр и предоставят все необходимые консультации. Также мы обеспечиваем комплектацией всеми необходимыми современными высококачественными материалами, причем по стоимости оптовой закупки.
			a(href="#").colorbox-inline
				img(src="images/article/article-1.jpg", alt="")
			a(href="#").colorbox-inline
				img(src="images/article/article-2.jpg", alt="")
			a(href="#").colorbox-inline
				img(src="images/article/article-3.jpg", alt="")
			h2 Особенности сантехнических работ в Минске по монтажу инженерных систем?
			p Одна из самых востребованных услуг сантехников – это монтаж системы отопления. Сотрудники нашей компании помогут вам выбрать тот или иной узел, котел, трубы, радиаторы, подскажем, какой марке производителя отдать предпочтение. Наши проектанты разработают для вас индивидуальный проект и полностью с нуля смонтируют всю систему в соответствии с проектными решениями. После завершения всех работ производится тестовый запуск системы и ее регулировка.
			p С соблюдением всех норм и правил осуществляется и прокладка водопровода. Разводка может быть по желанию заказчика либо скрытая, либо открытая, выполненная из различных материалов (медь, полипропилен и так далее).
			p Прокладываем и различные системы отведения канализационных стоков. В квартирах в основном осуществляется подключение к централизованной сети, в частных домах обустраивается локальная система канализации.
			h2 Почему стоит заказать сантехнические работы именно у нас?
			p Некоторые домовладельцы, стремясь сэкономить, обращаются за помощью в вопросах монтажа коммуникационных систем к частникам или в фирмы-однодневки. Но, как правило, это заканчивается потом бесконечными переделками, тратой нервов и средств. Гораздо рациональнее обратиться к профессионалам, которые выполнят сантехнические работы на совесть и по доступной стоимости.
			p Наша компания обслуживает заказчиков именно по таким принципам. Мы:
			ul
				li оперативно по вашему заказу выедем на объект, произведем его бесплатный осмотр и предоставим все необходимые консультации;
				li разработаем с учетом всех индивидуальных особенностей объекта проектное решение;
				li предоставим качественные, надежные и современные материалы по закупочным ценам;
				li заказ реализуют безупречно и в четко определенные сроки
			footer
				p В нашей компании работают ответственные и исполнительные сотрудники, настоящие специалисты своего дела. В услуги сантехников входит, и трехлетняя гарантия на все виды монтажно-сантехнических работ.