extends include/html
block title
	title Установка сантехники
block content
	main#main.main
		.inner
			.mybreadcrumb
				a.mybreadcrumb_link(href="/") Главная
				a.mybreadcrumb_link(href="/") Услуги
				a.mybreadcrumb_link(href="/") Установка сантехники
				span.mybreadcrumb_item Установка ванны
			article.service
				h1 Установка ванны
				header.service_header
					div.service_left
						img(src="images/services/service.jpg", alt="")
					aside.service_right
						h2 Виды работ
						include include/menuRight3
				div.service_accent
					p Мы выполним устанвоку сантехники лучше всех! Мы выполним устанвоку сантехники лучше всех!Мы выполним устанвоку сантехники лучше всех!Мы выполним устанвоку сантехники лучше всех!Мы выполним устанвоку сантехники лучше всех!Мы выполним устанвоку
				div.service_body
					p Наш комфорт в квартирах, домах, офисах обеспечивают системы водо-, теплоснабжения, и канализации. Если помещение только вводится в эксплуатацию, их необходимо смонтировать в первую очередь. Также возникает потребность в таких сантехнических работах в Минске, когда оборудование вышло из строя либо уже устарело.
					p Замена, и монтаж с нуля систем отопления, водообеспечения и отведения канализационных стоков – очень ответственная и сложная задача, требующая соответствующих знаний, опыта работы и специальной техники. <b>Поэтому выполнение сантехнических работ можно доверить только специалистам компании Kamfree.by.</b>
					p Сотрудники нашей компании выполняют сантехнические работы уже более 10 лет, и это – наша главная специализация. Есть в нашем распоряжении и необходимое современное оборудование, инструменты. Нам доступны сантехработы любой сложности, ремонт мы осуществим на наивысшем уровне.
					h2 Какие сантехнические работы в Минске мы выполняем?
					p Наша команда выполняет весь спектр сантехнических работ. В частности, мы предоставляем такие сантехнические услуги, как:
					ul
						li <b>монтаж и замена труб</b> (водопроводных, канализационных, отопительных);
						li <b>установка (замена) всех видов сантехнического оборудования;</b>
						li <b>монтаж, замена либо перенос отопительных радиаторов</b> и так далее.
					p Специалисты <a href="/">Kamfree.by</a> оперативно выедут на объект по вашему вызову, произведут его бесплатный осмотр и предоставят все необходимые консультации. Также мы обеспечиваем комплектацией всеми необходимыми современными высококачественными материалами, причем по стоимости оптовой закупки.
				section.service_price
					h2 Стоимость услуг
					table
						tr
							th N
							th Наименование работ
							th ед. изм.
							th Стоимость, руб.
						tr
							td 1
							td Установка смесителя
							td шт
							td 1 000 000
						tr
							td 1
							td Установка смесителя
							td шт
							td 1 000 000
						tr
							td 1
							td Установка смесителя
							td шт
							td 1 000 000
						tr
							td 1
							td Установка смесителя
							td шт
							td 1 000 000
						tr
							td 1
							td Установка смесителя
							td шт
							td 1 000 000
	section.feedback
		.inner
			h1
				span Оставить заявку
			form(action="#")
				.feedback_inner
					//.feedback_textarea
					textarea(name="", cols="30", rows="10", placeholder="Какая наша помощь Вам необходима?")
					//.feedback_input
					input(type="text", placeholder="Введите имя")
					//.feedback_input
					input(type="text", placeholder="Введите телефон")
				.feedback_file
					input.inputfile#file(type="file", name="file")
					<label for="file"><span>Прикрепить файл</span></label>
				.feedback_submit
					.feedback_captcha
						img(src="images/feedback-captcha.jpg", alt="")
					input(type="submit", value="Отправить")