.address{
	float: right;
	padding: 5px 22px 0 0;
	font-size: 13px;
	line-height: 1.2;
	color: #373736;
	p{
		&:first-child{
			margin-bottom: 7px;
			position: relative;
			&:before{
				content: "";
				position: absolute;
				top: 0;
				left: -38px;
				width: 24px;
				height: 24px;
				background: url('../images/address.png');
			}
			span{
				font-family: $font;
				display: block;
			}
		}
		&:nth-child(2){
			position: relative;
			&:before{
				content: "";
				position: absolute;
				top: 0px;
				left: -38px;
				width: 24px;
				height: 24px;
				background: url('../images/address.png') 0 72px;
			}
			span{
				font-family: $font;
				display: block;
			}
		}
	}
	&__footer{
		color: #fefcfc;
		p{
			&:first-child{
				&:before{
					top: 2px;
					background-position: 0 48px;
				}
			}
			&:nth-child(2){
				&:before{
					background-position: 0 24px;
				}
			}
		}
	}
}