.article{
	padding: 0;
	@include clearfix;
	.front &{
		padding: 0 0 25px;
	}
	header{
		img{
			margin-left: 8px;
			float: right;
		}
	}
	h2{
		font-family: $fontBold;
		font-size: 16.7px;
		color: #0c74bd;
		margin: 43px 0 11px;
	}
	a{
		font-family: $fontBold;
		@include link(#0c74bd, #0c74bd);
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
	p{
		line-height: 1.2;
		margin-bottom: 18px;
		text-align: justify;
	}
	ul{
		margin: -11px 0 8px;
		li{
			padding-left: 31px;
			position: relative;
			line-height: 1.2;
			&:before{
				content: "";
				position: absolute;
				left: 11px;
				top: 8px;
				width: 6px;
				height: 6px;
				background: url('../images/list-item.png');
			}
		}
	}
	.colorbox{
		img{
			border-radius: 20px;
			margin: 8px 55px 34px 0;
			box-shadow: 0px 0px 7px 5px rgba(0,0,0,0.1);
		}
		&:nth-child(3n){
			img{
				margin: 8px 0 34px 0px;
			}
		}
	}
	footer{
		padding: 20px 0 0;
		p{
			font-family: $fontBold;
			font-size: 16.7px;
			color: #0c74bd;
		}
	}
}