.feedback{
	padding: 39px 0 33px;
	//background-color: #f0ad11;
	//background: linear-gradient(to right, rgba(25,72,146,1) 0%, rgba(0,149,236,1) 40%, rgba(0,149,236,1) 60%, rgba(25,72,146,1) 100%);
	//background: linear-gradient(to right, rgba(211,152,14,1) 0%, rgba(237,203,123,1) 40%, rgba(237,203,123,1) 60%, rgba(211,152,14,1) 100%);
	background: url('../images/feedback-bac.jpg') 50% 50% no-repeat #f0ad11;
	background-size: cover;
	box-shadow: inset 0 15px 7px -15px rgba(0,0,0,.2),
							inset 0 -15px 7px -15px rgba(0,0,0,.2);
	& .messages{
		display: none;
	}
	h1{
		color: #fcfdfe;
		margin-bottom: 72px;
		span{
			&:before{
	      content: '';
	      position: absolute;
	      bottom: -4px;
	      left: 0;
	      width: 100%;
	      height: 4px;
	      background-color: #0c74bd;
	      border-radius: 2px;
	    }
		}
	}
	&_inner{
		@include clearfix;
	}
	form{
		@include clearfix;
	}
	&_input{
		width: 20%;
	}
	input[type="text"]{
		font-family: $font;
  	font-size: $fontSize;
		width: 27%;
		float: left;
		border: none;
		margin-bottom: 13px;
		font-size: 20px;
		line-height: 2.5;
		padding: 0 12px;
		box-shadow: 0px 0px 2px 3px rgba(11,11,11,0.13),
								inset 0px 0px 2px 3px rgba(11,11,11,0.13);
		border-radius: 5px;
		&:last-child{
			margin-bottom: 0px;
		}
		&.error{
			box-shadow: 0px 0px 2px 3px rgba(11,11,11,0.13),
								inset 0px 0px 5px 1px rgba(255,0,0,1);
		}
	}
	textarea{
		font-family: $font;
  	font-size: $fontSize;
		float: right;
		height: 137px;
		width: 69%;
		border: none;
		font-size: 20px;
		padding: 12px;
		box-shadow: 0px 0px 2px 3px rgba(11,11,11,0.13),
								inset 0px 0px 2px 3px rgba(11,11,11,0.13);
		border-radius: 5px;
	}
	&_submit{
		text-align: right;
		float: right;
		width: 69%;
		position: relative;
		//margin-top: 25px;
	}
	input[type="submit"]{
		border: 3px solid #0c74bd;
		display: inline-block;
		padding: 0 52px;
		border-radius: 7px;
		background: rgba(12,115,189,1);
		background: linear-gradient(to bottom, rgba(12,115,189,1) 0%, rgba(0,98,168,1) 100%);
		box-shadow: 2px 2px 3px 2px rgba(0,0,0,.1);
		font-family: $fontBold;
		color: #fffefe;
		font-size: 21.8px;
		line-height: 1.9;
		text-transform: uppercase;
		cursor: pointer;
		&:hover{
			background: transparent;
		}
	}
	&_file{
		text-align: right;
		padding-top: 5px;
		.description{
			display: none;
		}
	}
	&_captcha{
		float: left;
	}
	.form-managed-file{
		position: relative;
		min-height: 25px;
		& > span img{
			display: none;
		}
		& > span a{
			@include link(#434242, #434242);
		}
		input{
			font-size: 10px;
			font-family: $font;
		}
		.ajax-progress{
		  position: absolute;
		  z-index: 1;
		  //top: auto;
		  top: 0px;
		  right: -35px;
		  .throbber {
		    background: transparent url('../images/newloader-min.gif') no-repeat 0px 0px;
		    float: left;
		    height: 30px;
		    width: 30px;
		    margin: 0px;
		  }
		}
		.form-submit{
			//display: none;
		}
		.form-submit[name="submitted_file_upload_button"]{
			display: none;
		}
		.form-submit[name="submitted_file_remove_button"]{
			margin-bottom: 30px;
			width: 13px;
			height: 14px;
			background: url("../images/delete.png");
			text-indent: 100%;
			white-space: nowrap;
			overflow: hidden;
			border: none;
			border-radius: 0;
			box-shadow: none;
			padding: 0;
			position: relative;
			top: 2px;
		}
	}
	.webform-component-file{
		margin: 0;
	}
	.webform-component-file label{
		font-size: 15px;
    color: #434242;
    display: inline-block;
    cursor: pointer;
    line-height: 1.5;
    padding-right: 30px;
  	background: url('../images/fileinput.png') 100% 0 no-repeat;
  	&:hover{
  		color: #0C74BD;
  	}
	}
	.form-file{
		width: 0.1px;
		height: 0.1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		z-index: -1;
		/*& + label{
			font-size: 15px;
	    color: #434242;
	    display: inline-block;
	    cursor: pointer;
	    line-height: 1.5;
	    padding-right: 30px;
	  	background: url('../images/fileinput.png') 100% 0 no-repeat;
		}
		&:focus + label,
		& + label:hover{

		}
		&:focus + label{
			outline: none;
		}
		& + label *{
			pointer-events: none;
		}
		.no-js & + label {
			display: none;
		}*/
	}















}