.gallery{
	@include clearfix;
	padding: 22px 0 0;
	&_item{
		float: left;
		width: 22.3%;
		margin-left: 3.6%;
		text-align: left;
		margin-bottom: 56px;
		&:nth-child(4n-3){
			margin-left: 0px;
		}
	}
	&_link{
		@include link(#434242, #0c74bd);
		span{
			display: inline-block;
			text-align: left;
			//font-family: $fontBold;
			font-size: 16.7px;
			line-height: 1.1;
			min-height: 40px;
		}
	}
	img{
		display: block;
		max-width: 100%;
		height: auto;
		position: relative;
		z-index: -2;
		margin-bottom: 14px;
		border-radius: 10px;
		box-shadow: -1px 0px 7px 0px rgba(0,0,0,0.31);
	}
	&_image{
		.gallery_link:hover &{
			box-shadow: inset 0px 0px 0px 4px rgba(12,115,189,1);
			border-radius: 10px;
		}
		img{
			display: block;
			width: 100%;
			height: auto;
			position: relative;
  		z-index: -2;
  		margin-bottom: 14px;
  		border-radius: 10px;
  		box-shadow: -1px 0px 7px 0px rgba(0,0,0,0.31);
		}
	}
}