.special-detail{
	padding: 0;
	position: relative;
	&_h1{
		color: #0c74bd;
		padding: 0 0 14px 8px;
		margin-bottom: 27px;
		border-bottom: 1px solid #eaeaea;
		box-shadow: inset 0px -1px 0px 0px rgba(249,249,249,1);
	}
	header{
	 	img{
			float: left;
			margin: 0 46px 34px 0;
			border-radius: 7px;
			box-shadow: -1px 0px 7px 0px rgba(0,0,0,0.35);
		}
	}
	h2{
		font-family: $fontBold;
		font-size: 16.7px;
		color: #0c74bd;
		margin: 0px 0 11px;
	}
	a{
		font-family: $fontBold;
		@include link(#0c74bd, #0c74bd);
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
	p{
		line-height: 1.2;
		margin-bottom: 18px;
		text-align: justify;
	}
	ul{
		margin: -11px 0 8px;
		li{
			padding-left: 31px;
			position: relative;
			line-height: 1.2;
			&:before{
				content: "";
				position: absolute;
				left: 11px;
				top: 8px;
				width: 6px;
				height: 6px;
				background: url('../images/list-item.png');
			}
		}
	}
	&_date{
		position: absolute;
		right: 14px;
		top: -55px;
		font-family: $fontBold;
		font-size: 16px;
		color: #e1a106;
	}
	footer{
		text-align: center;
	}
	&_link{
		border: 3px solid #0c74bd;
		display: inline-block;
		padding: 0 25px;
		border-radius: 7px;
		background: rgba(12,115,189,1);
		background: linear-gradient(to bottom, rgba(12,115,189,1) 0%, rgba(0,98,168,1) 100%);
		box-shadow: 2px 2px 3px 2px rgba(0,0,0,.1);
		font-family: $fontBold;
		@include link(#fbfdff!important, #0C74BD!important);
		
		font-size: 17px;
		line-height: 1.9;
		text-transform: uppercase;
		cursor: pointer;
		&:hover{
			background: transparent;
			text-decoration: none!important;
		}
	}
}